.vscode/
Cpp_study/
ros_ekfSensorfusion/
ws_ros2/build/
ws_ros2/install/
ws_ros2/log/
ws_ros2/.cache/
ws_ros2/src/aws-robomaker-small-warehouse-world
ws_ros2/src/gesture_robot
ws_ros2/src/hello_moveit
ws_ros2/src/moveit_task_constructor
ws_ros2/src/mtc_tutorial
ws_ros2/src/py_warehouse_bt
ws_ros2/src/realsense-ros

test/*
**/data/**/*.bag
**/data/**/*.db3
carMotion_project
tiago_ws
ros_ws
incomplete_ros2pkgs/
jobapplications/
mobile_manipulator/
moveit_ws/
nav2_ws/
my_mobile_slam/
Object3DPose_project/
ROS2_PAK_cppvslam/
rust_projects/
MultimodalRL_MasterThesis
test/
depth2Mesh/